In [1]:
import findspark

findspark.init()

In [6]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as HW_2 ")

df.show()

+-----+
| HW_2|
+-----+
|spark|
+-----+

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [60]:
import pandas as pd
import numpy as np
file1 = open('C:/Users/koush/HSE/Research/WordCountHW/sample1.txt','rt')
filenum = np.array(file1)

file1str = pd.Series(file1)
print(file1str)
file1str.str.split(expand=True)

0            Utilitatis causa amicitia est quaesita.\n
1    Lorem ipsum dolor sit amet, consectetur adipis...
2                                                   \n
3    Quamquam id quidem licebit iis existimare, qui...
dtype: object

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,Utilitatis,causa,amicitia,est,quaesita.,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Lorem,ipsum,dolor,sit,"amet,",consectetur,adipiscing,elit.,Collatio,igitur,...,Si,"quidem,","inquit,","tollerem,",sed,relinquo.,An,nisi,populari,fama?
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Quamquam,id,quidem,licebit,iis,"existimare,",qui,legerint.,Summum,a,...,None,None,None,None,None,None,None,None,None,None

In [10]:
file2 = spark.read.csv('C:/Users/koush/HSE/Research/WordCountHW/sample2.txt')
file3 = spark.read.csv('C:/Users/koush/HSE/Research/WordCountHW/sample3.txt')